.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: #6c757d;
    }
.footer a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    }
.footer a:hover {
    text-decoration: underline;
    }